nav {
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 20px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    background-color: khaki;
    padding-left: 10px;
}